.glass-header {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

.no-underline .ant-menu-item a {
  text-decoration: none !important;
}

.min-w-400 {
  min-width: 400px;
}
